header,footer{
    width: 100%;
    min-height: 100px;
}
header{
    background: red;
}
main{
    
    background: blue;
}
footer{
    background: green;
    clear: both;
    text-align: center;
    font-size: 3em;
    color: white;

}
main > section:first-child{
    width: 100%;
    height: 1000px;
    font-size: 3em;
    border: 3px dashed orange;
    background: lightblue;
    text-align: center;
    color: white;
}
main > section:last-child{
    width: 100%;
    
    background:  purple;
    
}
main > section:last-child > article{
    height: 200px;
    width: 49.7%;
    background: orange;
    border: 1px dashed black;
    float: left;
    text-align: center;
    font-size: 3em;
    color: white;
}
header > nav > ul{
    list-style: none;
    padding-left: 0%;
    
}
header > nav > ul > li{
    display: inline-block;
    background: lightblue;
    padding: 8px 5px;
    text-align: center;
    color: white;
}
/*
    i can write any thing here
    @media not|only mediatype and (mediafeature and|or|not mediafeature) {
        CSS-Code;
    }
*/
/*
    small device mobile
*/
@media only screen and  (max-width:767px){
    main > section:first-child{
        height: 200px;
    }
}
main > section:last-child > article{
    width: 100%;
}
header > nav > ul > li{
    width: 100%;
}
/*
    md device tablets
*/
@media only screen and (min-width:768px) and (max-width:991px){
    main > section:last-child > article{
        width: 24.7%;
    }
}
/*
    large device laptop
*/
@media only screen and (min-width:992px){
    main > section:last-child > article{
        width: 49.8%;
    }
}